.about-div{
    text-align: left;
    padding-bottom: 0px;
    font-family: "Inter", sans-serif;
    line-height: 20px;
}
.about-div h3{
    margin-bottom: 0px;
    padding-left: 20px;

}
.about-div p{
    padding-left: 20px;
    font-size: 16px;
    /* text-decoration: un; */
}